.css-1869usk-MuiFormControl-root {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: top;
    margin: 0px !important;
    min-width: 100px !important;
    background-color: #fff;
    border-radius: 4px;
}

/* .new_post_wrap form div label {
    font-weight: 600 !important;
        font-size: 14px !important;
        line-height: 24px !important;
        color: #D9D9D9 !important;
        
} */